<body class="home-page">
    <div class="wrapper">
      <!-- ******CONTENT****** -->
      <div class="content container">
          <div class="col-md-4">
            <div id="promo-slider" class="slider flexslider">
              <ul class="slides">
                <% @bolt_img.each do |slide| %>
                  <li><%= image_tag slide.image %></li>
                <% end %>
              </ul><!--//slides-->
            </div>
          </div>
          <div class="col-md-4">
            <div id="promo-slider" class="slider flexslider">
              <ul class="slides">
                <% @nut_img.each do |slide| %>
                  <li><%= image_tag slide.image %></li>
                <% end %>
              </ul><!--//slides-->
            </div>
          </div>
          <div class="col-md-4">
            <div id="promo-slider" class="slider flexslider">
              <ul class="slides">
                <% @stamping_img.each do |slide| %>
                  <li><%= image_tag slide.image %></li>
                <% end %>
              </ul><!--//slides-->
            </div>
          </div>

          <div class="row">
           <div class="col-md-12">
              <h3 style="color: rgb(0,116,122)">HOW FASTENERS ARE MADE</h3>
              <div class="row">
                <div class="col-md-2">
                  <img class="img-responsive" src="<%= asset_path "boltforming.png"%>" alt=""/>
                </div>
                <article class="col-md-6">
                  <h4>Bolt Foaming</h4>
                  <p>Founded in 1984, Locksure has been the leading special parts supplier in fastener industry. Product ranges from special cold formed parts to parts with secondary operation & assembly.</p>
                  <p>As the industry evolves, Locksure start supplying automotive parts to Tier1 & Tier2 automotive customers including BMW, Gestamp, Faurecia, Lear & Brose etc. To better serve the needs of quality-oriented automotive customers, Locksure is now in the process of TS16949 certification. We also invest in 3 factories that strengthen our manufacturing capabilities and product variety.</p>
                  <p>Having over 30 years of experience exporting to USA, Europe, South America & Middle East, Locksure can provide you all the service you need. With a wide range of product lines, great special part developing capability and strict quality control. Locksure is your best choice for automotive fasteners</p>
                </article>
                <div class="col-md-4">
                  <section class="video">
                    <div class="section-content">
                      <div id="videos-carousel" class="videos-carousel carouse slide">
                        <div class="carousel-inner">
                          <div class="item active">
                            <iframe class="video-iframe" src="https://www.youtube.com/embed/7htZkSe-MfY" frameborder="0" allowfullscreen=""></iframe>
                          </div>
                        </div>
                      </div><!--//videos-carousel-->
                    </div><!--//section-content-->
                  </section>
                </div>
              </div>
              <div class="row">
                <div class="col-md-2">
                  <img class="img-responsive" src="<%= asset_path "nut.png"%>" alt=""/>
                </div>
                <article class="col-md-6">
                  <h4>Nut</h4>
                  <p>Founded in 1984, Locksure has been the leading special parts supplier in fastener industry. Product ranges from special cold formed parts to parts with secondary operation & assembly.</p>
                  <p>As the industry evolves, Locksure start supplying automotive parts to Tier1 & Tier2 automotive customers including BMW, Gestamp, Faurecia, Lear & Brose etc. To better serve the needs of quality-oriented automotive customers, Locksure is now in the process of TS16949 certification. We also invest in 3 factories that strengthen our manufacturing capabilities and product variety.</p>
                  <p>Having over 30 years of experience exporting to USA, Europe, South America & Middle East, Locksure can provide you all the service you need. With a wide range of product lines, great special part developing capability and strict quality control. Locksure is your best choice for automotive fasteners</p>
                </article>
                  <div class="col-md-4">
                <section class="video">
                  <div class="section-content">
                    <div id="videos-carousel" class="videos-carousel carousel slide">
                      <div class="carousel-inner">
                          <div class="item active">
                            <iframe class="video-iframe" src="https://www.youtube.com/embed/pQRZ8dWAcUg" frameborder="0" allowfullscreen=""></iframe>
                        </div>
                      </div>
                    </div><!--//videos-carousel-->
                  </div><!--//section-content-->
                </section>
                </div>
              </div>
              <div class="row">
                <div class="col-md-2">
                  <img class="img-responsive" src="<%= asset_path "stamping.png"%>" alt=""/>
                </div>
                <article class="col-md-6">
                  <h4>Stamping</h4>
                  <p>Founded in 1984, Locksure has been the leading special parts supplier in fastener industry. Product ranges from special cold formed parts to parts with secondary operation & assembly.</p>
                  <p>As the industry evolves, Locksure start supplying automotive parts to Tier1 & Tier2 automotive customers including BMW, Gestamp, Faurecia, Lear & Brose etc. To better serve the needs of quality-oriented automotive customers, Locksure is now in the process of TS16949 certification. We also invest in 3 factories that strengthen our manufacturing capabilities and product variety.</p>
                  <p>Having over 30 years of experience exporting to USA, Europe, South America & Middle East, Locksure can provide you all the service you need. With a wide range of product lines, great special part developing capability and strict quality control. Locksure is your best choice for automotive fasteners</p>
                </article>
                <div class="col-md-4">
                  <section class="video">
                    <div class="section-content">
                      <div id="videos-carousel" class="videos-carousel carousel slide">
                        <div class="carousel-inner">
                            <div class="item active">
                              <iframe class="video-iframe" src="https://www.youtube.com/embed/pQRZ8dWAcUg" frameborder="0" allowfullscreen=""></iframe>
                          </div>
                        </div>
                      </div><!--//videos-carousel-->
                    </div><!--//section-content-->
                  </section>
                </div>
              </div>
            </div>
          </div>

          <section class="promo box box-dark">
              <div class="col-md-9">
              <h1 class="section-heading">Why Locksure</h1>
                  <p>Locksure provide progressive stamping, deep drawing, in-die tapping.</p>
              </div>
              <div class="col-md-3">
                  <%= link_to "Contact Us", contact_index_path, class: "btn btn-cta"%>
              </div>
          </section><!--//promo-->
      </div>
      </div><!--//content-->
  </div><!--//wrapper-->
</body>


