<body class="home-page">
    <div class="wrapper">
      <!-- ******CONTENT****** -->
      <div class="content container">
          <div class="col-md-4">
            <div id="promo-slider" class="slider flexslider">
              <ul class="slides">
                <% @bolt_img.each do |slide| %>
                  <li><%= image_tag slide.image %></li>
                <% end %>
              </ul><!--//slides-->
            </div>
          </div>
          <div class="col-md-4">
            <div id="promo-slider" class="slider flexslider">
              <ul class="slides">
                <% @nut_img.each do |slide| %>
                  <li><%= image_tag slide.image %></li>
                <% end %>
              </ul><!--//slides-->
            </div>
          </div>
          <div class="col-md-4">
            <div id="promo-slider" class="slider flexslider">
              <ul class="slides">
                <% @stamping_img.each do |slide| %>
                  <li><%= image_tag slide.image %></li>
                <% end %>
              </ul><!--//slides-->
            </div>
          </div>

          <div class="row">
           <div class="col-md-12">
              <h3 style="color: rgb(0,116,122)">Locksure's Manufacturing Capabilities</h3>
              <div class="row">
                <div class="col-md-2">
                  <img class="img-responsive custom_logo" src="<%= asset_path "boltforming.png"%>" alt=""/>
                </div>
                <article class="col-md-4">
                  <h4>Bolt Forming</h4>
                    <p><i class="fa fa-star"></i> ½ 4B4D x 4” = 5 Sets</p>
                    <p><i class="fa fa-star"></i> ½ 5B5D x 6” = 3 Sets</p>
                    <p><i class="fa fa-star"></i> 5/8 4B4D x 6” = 1 Set</p>
                    <p><i class="fa fa-star"></i> 5/8 5B5D x 6” = 1 Set</p>
                    <p><i class="fa fa-star"></i> ¾ 4B4D x 6” = 1 Set</p>
                    <p><i class="fa fa-star"></i> 5/16 3B3D x 2” = 3 Sets</p>
                    <p><i class="fa fa-star"></i> 5/16 4B4D x 3” = 1 Set</p>
                    <p><i class="fa fa-star"></i> 3/8 Tubular Rivet Machine = 2 Sets</p>
                    <p><i class="fa fa-star"></i> 5/16 Tubular Rivet Machine = 9 Sets</p>
                    <p><i class="fa fa-star"></i> 3/16 Tubular Rivet Machine = 2 Sets</p>
                    <p><i class="fa fa-star"></i> Wire Diameter = 3.0 – 30.0 mm</p>
                    <p><i class="fa fa-star"></i> Flange Diameter = 65 mm Max</p>
                </article>
                <div class="col-md-6">
                  <section class="video">
                    <div class="section-content">
                      <div id="videos-carousel" class="videos-carousel carouse slide">
                        <div class="carousel-inner">
                          <div class="item active">
                            <iframe class="video-iframe" src="https://www.youtube.com/embed/7htZkSe-MfY" frameborder="0" allowfullscreen=""></iframe>
                          </div>
                        </div>
                      </div><!--//videos-carousel-->
                    </div><!--//section-content-->
                  </section>
                </div>
              </div>
              </br>
              </br>
              <div class="row">
                <div class="col-md-2">
                  <img class="img-responsive custom_logo" src="<%= asset_path "nut.png"%>" alt=""/>
                </div>
                <article class="col-md-4">
                  <h4>Nut</h4>
                  <p><i class="fa fa-star"></i> 11B= 6 Sets</li>
                  <p><i class="fa fa-star"></i> 14B= 9 Sets</li>
                  <p><i class="fa fa-star"></i> 19B= 5 Sets</li>
                  <p><i class="fa fa-star"></i> 22B= 1 Set</li>
                  <p><i class="fa fa-star"></i> 24B= 3 Sets</li>
                  <p><i class="fa fa-star"></i> 27B= 1 Set</li>
                  <p><i class="fa fa-star"></i> 33B= 1 Set</li>
                </article>
                  <div class="col-md-6">
                <section class="video">
                  <div class="section-content">
                    <div id="videos-carousel" class="videos-carousel carousel slide">
                      <div class="carousel-inner">
                          <div class="item active">
                            <iframe class="video-iframe" src="https://www.youtube.com/embed/IOsvXA_L35I" frameborder="0" allowfullscreen=""></iframe>
                        </div>
                      </div>
                    </div><!--//videos-carousel-->
                  </div><!--//section-content-->
                </section>
                </div>
              </div>
              </br>
              </br>
              <div class="row">
                <div class="col-md-2">
                  <img class="img-responsive custom_logo" src="<%= asset_path "stamping.png"%>" alt=""/>
                </div>
                <article class="col-md-4">
                  <h4>Stamping</h4>
                  <p><i class="fa fa-star"></i> 200 tons – 2 Sets</p>
                  <p><i class="fa fa-star"></i> 160 tons – 3 Sets</p>
                  <p><i class="fa fa-star"></i> 110 tons – 11 Sets</p>
                  <p><i class="fa fa-star"></i> 80 tons – 7 Sets</p>
                  <p><i class="fa fa-star"></i> 60 tons – 2 Sets</p>
                  <p><i class="fa fa-star"></i> 45 tons – 22 Sets</p>
                  <p><i class="fa fa-star"></i> 35 tons – 5 Sets</p>
                  <p><i class="fa fa-star"></i> 200 tons – 3 Sets</p>
                  <p><i class="fa fa-star"></i> 260 tons – 2 Sets</p>
                  <p><i class="fa fa-star"></i> 350 tons – 1 Sets</p>
                  <p><i class="fa fa-star"></i> 400 tons – 1 Sets</p>
                </article>
                <div class="col-md-6">
                  <section class="video">
                    <div class="section-content">
                      <div id="videos-carousel" class="videos-carousel carousel slide">
                        <div class="carousel-inner">
                            <div class="item active">
                              <iframe class="video-iframe" src="https://www.youtube.com/embed/pQRZ8dWAcUg" frameborder="0" allowfullscreen=""></iframe>
                          </div>
                        </div>
                      </div><!--//videos-carousel-->
                    </div><!--//section-content-->
                  </section>
                </div>
              </div>
            </div>
          </div>

      </div>
      </div><!--//content-->
  </div><!--//wrapper-->
</body>


<%= javascript_include_tag 'homes' %>
