<div class="content container">
  <div class="page-wrapper">
    <header class="page-heading clearfix">
      <h1 class="heading-title pull-left">Catelog</h1>
    </header>
    <div class="page-sidebar col-md-1 col-sm-2 affix-top"></div>
    <div class="content-wrapper col-md-10 col-sm-8">
      <div class="tabbed-info page-row">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#tab1" data-toggle="tab" aria-expanded="true">File</a></li>
          <li class=""><a href="#tab2" data-toggle="tab" aria-expanded="flase">Image</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="tab1">
            <table class="table table-bordered table-hover">
              <tbody>
              <% @catalog.each do |catalog| %>
                <% if catalog.catalogtype == "file"%>
                <tr>
                  <td><%= catalog.title %><a class="right" target="_blank" download href="<%= catalog.path %>"><i class= "fa fa-lg fa-download"></i></a></td>
                </tr>
                <% end %>
              <% end %>
              </tbody>
            </table>
          </div>
          <div class="tab-pane" id="tab2">
            <div class="page-content">
            <div class="row">
            <% @catalog.each do |catalog| %>
              <% if catalog.catalogtype == "image"%>
              <div class="col-md-3 col-sm-3 col-xs-6 text-center">
                <div class="album-cover">
                  <a href="<%= catalog.path.url %>" download><%= image_tag catalog.path_url, class: "img-responsive fixed-img-height" %></a>
                  <div class="desc">
                    <h4>
                      <a href="<%= catalog.path.url %>" download><%= catalog.title %></a>
                    </h4>
                  </div>
                </div>
              </div>
              <% end %>
            <% end %>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="page-sidebar col-md-1 col-sm-2"></div>
  </div>
</div>
