  <div class="wrapper">
      
    <!-- ******CONTENT****** --> 
    <div class="content container">
        <div class="page-wrapper">
            <header class="page-heading clearfix">
                <h1 class="heading-title pull-left">Contact</h1>
                <div class="breadcrumbs pull-right">
                    <ul class="breadcrumbs-list">
                        <li class="breadcrumbs-label">You are here:</li>
                        <li><%=link_to "Home", root_path%><i class="fa fa-angle-right"></i></li>
                        <li class="current">Contact</li>
                    </ul>
                </div><!--//breadcrumbs-->
            </header> 
            <div class="page-content">
                <div class="row">
                    <article class="contact-form col-md-8 col-sm-7  page-row">                            
                        <h3 class="title">Get in touch</h3>
                        <%= form_tag contact_index_path do %>
                             <div class="form-group name">
                                 <%= label_tag "name" %>
                                 <%= text_field_tag "[contact]name", nil,class: "form-control", placeholder: "Enter your name"%>
                             </div>
                             <div class="form-group email">
                                 <%= label_tag "email" %><span class="required">*</span>
                                 <%= text_field_tag "[contact]email", nil,class: "form-control", placeholder: "Enter your email"%>
                             </div>
                             <div class="form-group email">
                                 <%= label_tag "phone" %>
                                 <%= text_field_tag "[contact]phone", nil,class: "form-control", placeholder: "Enter your contact number"%>
                             </div>
                             <div class="form-group message">
                                 <%= label_tag "message"%><span class="required">*</span>
                                 <%= text_area_tag "[contact]message", nil, class: "form-control", placeholder: "Enter your message here...", rows: "6"%>
                             </div>
                             <%= submit_tag "Send message", class: "btn btn-theme"%>
                        <% end %>              
                    </article><!--//contact-form-->
                    <aside class="page-sidebar  col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-1">
                        <section class="widget">
                            <h3 class="title">All Enquiries</h3>
                            <p class="tel"><i class="fa fa-phone"></i>Tel: 0800 123 4567</p>
                            <p class="email"><i class="fa fa-envelope"></i>Email: <a href="#">enquires@website.com</a></p>
                        </section>  
                        <section class="widget has-divider">
                            <h3 class="title">Postal Address</h3>
                            <p class="adr">
                                <span class="adr-group">       
                                    <span class="street-address">College Green</span><br>
                                    <span class="region">56 College Green Road</span><br>
                                    <span class="postal-code">BS16 AP18</span><br>
                                    <span class="country-name">UK</span>
                                </span>
                            </p>
                        </section><!--//widget-->     
               
                    </aside><!--//page-sidebar-->
                </div><!--//page-row-->
                <div class="page-row">
                    <article class="map-section">
                        <h3 class="title">How to find us</h3>
                        <div id="map"></div><!--//map-->
                    </article><!--//map-->
                </div><!--//page-row-->
            </div><!--//page-content-->
        </div><!--//page-wrapper--> 
    </div><!--//content-->
  </div><!--//wrapper--> 
  <!-- Javascript -->          
  <script type="text/javascript" src="assets/plugins/jquery-1.10.2.min.js"></script>
  <script type="text/javascript" src="assets/plugins/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script> 
  <script type="text/javascript" src="assets/plugins/bootstrap-hover-dropdown.min.js"></script> 
  <script type="text/javascript" src="assets/plugins/back-to-top.js"></script>
  <script type="text/javascript" src="assets/plugins/jquery-placeholder/jquery.placeholder.js"></script>
  <script type="text/javascript" src="assets/plugins/pretty-photo/js/jquery.prettyPhoto.js"></script>
  <script type="text/javascript" src="assets/plugins/flexslider/jquery.flexslider-min.js"></script>
  <script type="text/javascript" src="assets/plugins/jflickrfeed/jflickrfeed.min.js"></script> 
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
  <script type="text/javascript" src="assets/plugins/gmaps/gmaps.js"></script>   
  <script type="text/javascript" src="assets/js/map.js"></script> 
  <script type="text/javascript" src="assets/js/main.js"></script>          
  