<div class="wrapper">
  <!-- ******CONTENT****** -->
  <div class="content container">
    <div class="page-wrapper">
      <header class="page-heading clearfix">
        <h1 class="heading-title pull-left"><%= @categories.name %></h1>
        <div class="breadcrumbs pull-right">
          <ul class="breadcrumbs-list">
            <li class="breadcrumbs-label">You are here:</li>
            <li>
              <a href="/product"><%=link_to "Home", root_path %></a>
              <i class="fa fa-angle-right"></i>
            </li>
            <li class="current"><a href="/products">Product</a></li>
          </ul>
        </div>
      </header>
      <div class="page-content">
          <div class="row page-row">
            <% @products.each do |product| %>
              <div class="col-md-3 col-sm-3 col-xs-6 text-center">
                <div class="album-cover">
                  <a href="<%= product.image.url %>" data-toggle="lightbox" data-gallery="multiimages" data-title="<%= product.name%>"><%= image_tag product.image_url, class: "img-responsive" %></a>
                  <div class="desc">
                    <h4>
                      <a href="<%= product.image.url %>" data-toggle="lightbox" data-gallery="multiimages" data-title="<%= product.name%>"><%= product.name %></a>
                    </h4>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag 'products' %>
